* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 45px 15px 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.banner-primary-button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 45px 15px 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Nav-Bar Design */

.logo {
    display: flex;
    gap: 5px;
}

.web-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    width: 80%;
    margin: 52px auto 49px auto;
}

.nav-item {
    display: inline;
    margin-left: 44px;
    color: var(--Dark-02, #424247);
    font-size: 18px;
}

.menue {
    display: none;
}

.nav-item:hover {
    color: #FF5400;
}

/* Banner-Design */

.banner {
    width: 100%;
    margin-left: 10%;
}

.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/grp\ 13.png');
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border-radius: 16px;
}

h2 {
    text-align: center;
    padding-top: 100px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-intro {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 200px 0 200px;
    margin-bottom: 40px;
}

.banner-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}

.banner-user-input {
    padding: 15px 75px 15px 15px;
    margin-right: 24px;
}

/* Our Popular Tour Design */

.tour {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    /* padding: 200px; */
}

.tour-container {
    display: flex;
    align-items: center;
}

.tour-heading {
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 50px 50px 0;
}

.tour-img {
    /* border-radius: 16px; */
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    /* width: 540px;
    height: 550px; */
}

/* Choose your Destination */
.destination-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.destination-intro {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.destantion-image {

    display: grid;
    gap: 10px;
    grid-template-areas:
        'img-1 img-1 img-1 img-2 img-2 img-2'
        'img-3 img-4 img-4 img-4 img-4 img-5'
        'img-6 img-6 img-7 img-7 img-7 img-7'
    ;

}

.destantion-image img {
    /* width: 400px;
    height: 200px; */
}

.destantion-image p {
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;

}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
    margin-right: 6px;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;

}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;
}




/* Why Choose Us Design Part */
.choose {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.choose-intro {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.choose-description,
.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 150px;
    padding-left: 150px;
    margin-bottom: 50px;
}

.choose-img-container {
    display: flex;
    margin-top: 50px;
}

.choose-img-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 30px;
}

.choose-img-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-bottom: 2%;
    padding: 30px;
}

.choose-us-main {
    display: flex;
    justify-content: center;
}

.choose-img-3 {

    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 50%;
    padding: 30px;
    margin-bottom: 100px;
}

.choose-image {
    width: 64px;
    height: 64px;
}

.choose-heading {
    color: #131318;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}

.choose-img-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Newsletter part Design */

.newsletter {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.newslatter-main {

    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-right {
    padding: 20px;

}

.newsletter-heading {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 40px auto 16px 40px;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* padding: 0 10px 0 20px; */
    padding: 0px 80px 0px 35px;
}

.newsletter-img {
    width: 672px;
    height: 422px;
    position: absolute;
}

.form input {
    width: 393px;
    height: 52px;
    border-radius: 10px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 0 20px;
}

#button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 45px 15px 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

.z-index {
    color: #FFF;
    border-radius: 16px;
    background: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 300px;
    padding: 10px;
    position: relative;
    bottom: -300px;
    right: 0;
    left: 250px;

    
    
}

/* Review Part Design  */

.container {
    /* max-width: 800px; */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 20px;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

.reviews {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.review {
    /* width: calc(50% - 20px); */
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Footer Design */

.footer-column {
    /* width: 1440px;
    height: 502px; */
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 150px;
}

.footer-column .logo {
    justify-content: center;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 5px 200px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}

.fa-brands {
    margin: 0 10px;
}

hr {
    margin: 0 auto 20px auto;

    width: 60%;

}

.copyright {
    text-align: center;
    padding: 10px 0 50px 0;
}

















/* Responsive for small design */

@media screen and (max-width:600px) {

    /* Nav-Part */
    .nav ul {
        display: none;
    }

    .nav {
        width: 100%;
        margin: 2px;
    }

    .menue {
        display: block;
        margin-top: 10px;
        margin-right: 100px;
    }

    /* Banner Part */
    .banner {
        width: 90%;
    }

    .banner-container {
        width: 80%;
        margin: 2px;
    }

    .banner-container h2 {
        text-align: center;
        padding-top: 20px;
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .banner-intro {
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        padding: 0 30px 0 30px;
        margin-bottom: 20px;
    }

    .banner-form-internal {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .banner-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0px 20px 20px;
    }

    .banner-primary-button {
        border-radius: 8px;
        background: #FF5400;
        width: 92%;
        padding: 15px 95px 15px 95px;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .primary-button {
        width: 95%;
    }


    /* Tour Part  */

    .tour-container {
        display: flex;
        flex-direction: column;
    }

    .tour {
        width: 100%;
        margin-left: 10%;
        margin-top: 50px;
    }

    .tour-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 10px 160px 20px 0;
    }

    .primary-button {
        border-radius: 8px;
        background: #FF5400;
        padding: 15px 45px 15px 30px;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        width: 50%;
        margin-bottom: 30px;
    }

    .tour-img {
        border-radius: 10px;
        /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
        /* width: 540px;
        height: 550px; */
        width: 80%;
        margin-left: 0;

    }


    /* Choose your Destination Part  */
    .destination-container {
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
    }

    .destination-intro {
        color: #131318;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    .destination-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        padding-right: 50px;
        padding-left: 50px;
        margin-bottom: 50px;
    }

    .destantion-image {
        display: block;

    }


    .destantion-image img {
        width: 400px;
        height: 200px;
        margin-bottom: 10px;
    }

    /* Why Choose Us Part  */

    .choose {
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
    }

    .choose-intro {
        color: #131318;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    .choose-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        padding-right: 50px;
        padding-left: 50px;
        margin-bottom: 50px;
    }

    .choose-img-container {
        display: block;
        margin-top: 50px;
        margin-right: 70px;
    }

    .choose-us-main {
        display: block;
        margin-top: 50px;
        margin-right: 70px;
    }

    .choose-img-3 {
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        width: 85%;
        padding: 30px;
        margin-bottom: 100px;
    }

    /* Newsletter Part  */
    .newsletter {
        width: 70%;
        margin-left: 10%;
        margin-bottom: 100px;
    }

    .newsletter-container {
        display: block;
        /* justify-content: center; */
        gap: 20px;
    }

    .form input {
        width: 88%;
        /* width: 393px;
        height: 52px; */
        border-radius: 10px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        padding: 0 20px;
    }

    .newsletter-img {
        margin-top: 20px;
        /* width: 470px;
        height: 300px; */
        width: 100%
    }

    /* review part  */
    .review {
        width: 100%;
    }

    .reviews {
        flex-direction: column;
    }

    .review img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .review h3 {
        margin: 0;
        font-size: 20px;
    }

    .review p {
        color: #555;
    }

    .review .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .review .rating span {
        color: #f39c12;
        font-size: 18px;
        margin-right: 5px;
    }
}